.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.main h1 {
  text-align: center;
  padding-bottom: 20px;
}

.main section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main input[type="text"] {
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  padding: 10px;
  font-size: 14px;
  min-width: 50%;
}

.main button {
  padding: 10px 15px;
  background-color: cornflowerblue;
  border: 0;
  border-radius: 5px;
}

.main button:hover {
  background-color: rgb(70, 109, 181);
}

@media (max-width: 700px) {
  .main input[type="text"] {
    min-width: 100%;
  }
}
